@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.bg{
    max-width: 100%;
    position: relative;
    nav{
        z-index: 4;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 38px 130px;
        position: absolute;
        top: 0;
        left: 0;
        padding-right: 87px;

        .linkas{
            ul{
                margin-top: 26px;
                li{
                    display: inline-block;
                    margin-right:35px;
                    a{
                        text-shadow: 1px 1px 3px grey;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 2.5px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }}
        }
    }
    .bgimg{
        img{
            width: 100%;
        }
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(42, 43, 48, 0.55) 0%, rgba(42, 43, 48, 5.5e-05) 11.54%);
    }
}

.aftfrst{
    margin-top: 60px;
    z-index: 8;
    color: brown;
    display: flex;
    justify-content: space-between;
    padding: 30px 137px;
    h1{
        max-width: 362px;
        font-weight: 600;
        padding-right: 20px;
        font-size: 35px;
        line-height: 45px;
        color: #2C3F58;
    }
    p{
        max-width: 731px;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #2A2B30;
    }
}

.sponsors{
    margin-top: 40px;
    margin-bottom: 50px;

    background: rgba(196, 196, 196, 0.1);
    padding: 30px 137px;

    .spn{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        .imgcon{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffff;
            cursor: pointer;
        
        }
    }
}

.contact{
    padding: 30px 137px;
    background: red;
    display: flex;
    justify-content: space-between;
    .fm{
        margin-left: 20px;
    }
    .inp{
        margin-top: 20px;
        column-gap: 40px;
        display: grid;
        grid-template-columns: 407px 447px;
        row-gap: 30px;
        input{
            border-radius: unset;
            border: none;
            outline: none;
            border-radius: 8px;
            padding: 10px 20px;
        }

        button{
            font-weight: 700;
            font-size: 16px;
        }
    }
    
}